@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Rate a Movies</h1>
    <br />
    <p>The main goal of this web site is to provide good and reliable opinion on many movies.</p>
    <p>The movies data is provide by people as are the rates. </p>
    <p>If you want to add a movie, comment, grade you have to connect but if you only want to look information no identification needed</p>
</div>
